<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <title>ezqiniu</title>
    <link rel="stylesheet" href="./style.css?v=2">
</head>

<body>
    <div id="main">
        <header class="searchBar">
            <input id="search" type="search" v-model="searchKeyword" placeholder="search..." @input="onSearchEnter" autocomplete="off">
        </header>
        <ul class="tnlist clearfix">
            <!-- <li><img src="http://oww4nskgw.bkt.clouddn.com/20170927.p11.gif!tn" alt=""></li> -->
            <!-- <li><img src="http://oww4nskgw.bkt.clouddn.com/20170927.p12.jpg!tn" alt=""></li> -->
            <li v-for="(url, i) in list" :class="{ selected: currentIndex === i }">
                <!-- <img :src="protocol + '//' + host + '/' + filename + '!' + ss.tn" alt="filename"> -->
                <div>
                    <img class="tn" :src="url + '!tn'" alt="filename" :data-url="url" :data-clipboard-text="url" @click="onSelect" :data-index="i">
                </div>
            </li>
            <li class="info"><div>{{ listLeft }} left</div></li>
            <li class="btn" :class="{dpnone: listLeft === 0}" @click="fn_next(5)"><div>next 5</div></li>
            <li class="btn" :class="{dpnone: listLeft < 20}" @click="fn_next(20)"><div>next 10</div></li>
            <li class="btn" :class="{dpnone: listLeft < 50}" @click="fn_next(50)"><div>next 50</div></li>
        </ul>
        <footer class="pageFooter">
            {{ msg }}
        </footer>
    </div>
    <script src="./lib/js/jQuery-3.2.1.js"></script>
    <script src="./lib/js/vue.js"></script>
    <script src="./lib/js/clipboard.js"></script>
    <script src="./index.js"></script>
</body>

</html>